<app-header></app-header>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="col-md-12" style="top:20%">
        <div class="row justify-content-between align-items-center">
          <carousel [showIndicators]="true" style="width:100%">
            <slide>

              <img alt="Second slide" style="width:100%" class="d-block" src="assets/img/slider-item-1cfcd.jpg" />

              <div class="carousel-caption d-none d-md-block">
                <h5>Somewhere Beyond, United States</h5>
              </div>
            </slide>
            <slide>
              <img alt="First slide" style="width:100%" class="d-block" src="assets/img/slider-item-2cfcd.jpg" />

              <div class="carousel-caption d-none d-md-block">
                <h5>Big City Life, United States</h5>
              </div>
            </slide>

            <slide>
              <img alt="Third slide" style="width:100%" class="d-block" src="assets/img/slider-item-4cfcd.jpg" />

              <div class="carousel-caption d-none d-md-block">
                <h5>Stocks, United States</h5>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-12">
    <div class="container">
      <h2 class="title" style="margin-top: 0;">        
        Categories  <span style="color: #d1d1d9;font-weight: bold;font-size: large;"><a [routerLink]="['/collections']" >
          ( View All )</a></span>
      </h2>
      <div class="row">
        <div class="container text-center">
          <div class="row">
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/beds.jpg" />
              </a>
              <a class="btn btn-simple btn-danger btn-round" style="top: 8%;" [routerLink]="['/productdetails']">
                View All Beds
              </a>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/sofas1.jpg" />
              </a>
              <a class="btn btn-simple btn-danger btn-round" style="top: 8%;" [routerLink]="['/productdetails']">
                View All Sofas
              </a>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/chairs.jpg" />
              </a>
              <a class="btn btn-simple btn-danger btn-round" style="top: 8%;" [routerLink]="['/productdetails']">
                View All Chairs
              </a>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
              </a>
              <a class="btn btn-simple btn-danger btn-round" style="top: 8%;" [routerLink]="['/productdetails']">
                View Dining Sets
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2 class="title" style="margin-top: 0;">        
        Best Selling Products  <span style="color: #d1d1d9;font-weight: bold;font-size: large;"><a [routerLink]="['/collections']" >
          ( View All )</a></span>
      </h2>
      <div class="row">
        <div class="container text-center">
          <div class="row">
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/beds.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/sofas1.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/chairs.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/beds.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/sofas1.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/chairs.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
            <div class="col-sm-3">
              <a [routerLink]="['/productdetails']">
                <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
              </a>
              <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                <span>$2000</span>
                <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header">
  <div class="content-center1">
    <div class="row row-grid justify-content-between align-items-center text-left">
      <div class="col-lg-12 col-md-12">
        <h1 class="text-white" style="text-align: center;"> WoodHub Offers Gorgeous Furniture Online To Fuel Your Creativity:</h1>
        <p class="text-white mb-3"> Online furniture locales offer you a wide assortment of alternatives to look over. You can peruse numerous structures, classes, sizes, functionalities and hues, all whenever the timing is ideal. Why follow fixed timings when you can peruse at whatever point you need, any place you are? Shops can't show in excess of a fixed number of structures – an imperative never confronted carefully. While perusing furniture on the web, India shows an unmistakable inclination for perfect, contemporary structures. You can discover numerous such ranges on our site.</p>
        <p class="text-white mb-3"> One more bit of leeway of choosing furniture online is that a physical space can never show enough classifications or sizes. At the point when you purchase furniture on the web, you can see the highlights, advantages, and usefulness of every item plainly. No all the more depending on the staff to recall and pass on each point – anyway enormous or little. You can likewise sort the items utilizing some parameter, or apply channels according to your necessities, analyze the same number of alternatives as you need (without feeling unbalanced), and add your top choices to your list of things to get.</p>
        <p class="text-white mb-3"> While looking for the best place to buy furniture online, India prefers our range without doubt. Whenever you want to buy furniture online, it’s worthwhile to check our offerings first. We are sure you’ll find what you were looking for. You can also buy furniture by room, as every living space has distinct requirements – in terms of occupancy, functions, space, and budget. From opulent, intricate designs for large areas to versatile, multifunction designs for lesser square feet, we have it all.</p>
        <div class="btn-wrapper mb-3">
          <p class="category text-success d-inline mr-1">From 9.99%/mo</p><a class="btn btn-success btn-link btn-sm"
            href="javascript:void(0)"><i class="tim-icons icon-minimal-right"></i></a>
        </div>
        <div class="btn-wrapper">
          <div class="button-container"><button class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
              href="javascript:void(0)"><i class="fab fa-twitter"></i></button><button
              class="btn btn-icon btn-simple btn-round btn-neutral mr-1" href="javascript:void(0)"><i
                class="fab fa-dribbble"></i></button><button class="btn btn-icon btn-simple btn-round btn-neutral"
              href="javascript:void(0)"><i class="fab fa-facebook"></i></button></div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="main" style="display: none;">
    <div class="section section-basic" id="basic-elements">
      <img class="path" src="assets/img/path1.png" />

      <div class="container">
        <h2 class="title">Basic Elements</h2>
        <h3>Buttons</h3>
        <p class="category">Pick your style</p>
        <div class="row">
          <div class="col-md-10">
            <button class="btn btn-primary mr-1" type="button">Default</button>
            <button class="btn btn-primary btn-round mr-1" type="button">
              Round
            </button>
            <button class="btn btn-primary btn-round mr-1" type="button">
              <i class="tim-icons icon-heart-2"> </i> With Icon
            </button>
            <button class="btn btn-primary btn-icon btn-round mr-1" type="button">
              <i class="tim-icons icon-heart-2"> </i>
            </button>
            <button class="btn btn-primary btn-simple btn-round" type="button">
              Simple
            </button>
          </div>
        </div>
        <p class="category">Pick your size</p>
        <div class="row">
          <div class="col-md-10">
            <button class="btn btn-primary btn-sm mr-1">Small</button>
            <button class="btn btn-primary mr-1">Regular</button>
            <button class="btn btn-primary btn-lg">Large</button>
          </div>
        </div>
        <p class="category">Pick your color</p>
        <div class="row">
          <div class="col-md-12">
            <button class="btn mr-1">Default</button>
            <button class="btn btn-primary mr-1">Primary</button>
            <button class="btn btn-info mr-1">Info</button>
            <button class="btn btn-success mr-1">Success</button>
            <button class="btn btn-warning mr-1">Warning</button>
            <button class="btn btn-danger mr-1">Danger</button>
            <button class="btn btn-neutral">Neutral</button>
          </div>
        </div>
        <br />

        <h3>Links</h3>
        <div class="row">
          <div class="col-md-8">
            <button class="btn btn-link mr-1">Default</button>
            <button class="btn btn-link btn-primary mr-1">Primary</button>
            <button class="btn btn-link btn-info mr-1">Info</button>
            <button class="btn btn-link btn-success mr-1">Success</button>
            <button class="btn btn-link btn-warning mr-1">Warning</button>
            <button class="btn btn-link btn-danger">Danger</button>
          </div>
        </div>
        <div class="space-70"></div>
        <div id="inputs">
          <h3>Inputs</h3>
          <p class="category">Form Controls</p>
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="form-group">
                <input class="form-control" placeholder="Regular" type="text" value="" />
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="form-group has-success">
                <input class="form-control form-control-success" type="text" value="Success" />
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="form-group has-danger">
                <input class="form-control form-control-danger" type="email" value="Error Input" />
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"> </i>
                  </span>
                </div>
                <input class="form-control" placeholder="Left Font Awesome Icon" type="text" (focus)="focus = true"
                  (blur)="focus = false" />
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="input-group">
                <input class="form-control" placeholder="Right Nucleo Icon" type="text" />

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="tim-icons icon-lock-circle"> </i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="space-70"></div>
        <div class="row" id="checkRadios">
          <div class="col-sm-6 col-lg-3">
            <p class="category">Checkboxes</p>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Unchecked
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input checked="checked" class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Checked
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" disabled="disabled" type="checkbox" />

                <span class="form-check-sign"> </span> Disabled Unchecked
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input checked="checked" class="form-check-input" disabled="disabled" type="checkbox" />

                <span class="form-check-sign"> </span> Disabled Checked
              </label>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <p class="category">Radios</p>
            <div class="form-check form-check-radio">
              <label class="form-check-label">
                <input class="form-check-input" id="exampleRadios1" name="exampleRadios" type="radio" value="option1" />

                <span class="form-check-sign"> </span> Radio is off
              </label>
            </div>
            <div class="form-check form-check-radio">
              <label class="form-check-label">
                <input checked="checked" class="form-check-input" id="exampleRadios1" name="exampleRadios" type="radio"
                  value="option2" />

                <span class="form-check-sign"> </span> Radio is on
              </label>
            </div>
            <div class="form-check form-check-radio disabled">
              <label class="form-check-label">
                <input class="form-check-input" disabled="disabled" id="exampleRadios2" name="exampleRadios1"
                  type="radio" value="option3" />

                <span class="form-check-sign"> </span> Disabled radio is off
              </label>
            </div>
            <div class="form-check form-check-radio disabled">
              <label class="form-check-label">
                <input checked="checked" class="form-check-input" disabled="disabled" id="exampleRadios2"
                  name="exampleRadios1" type="radio" value="option4" />

                <span class="form-check-sign"> </span> Disabled radio is on
              </label>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <p class="category">Toggle Buttons</p>
            <bSwitch [switch-on-color]="'danger'" [switch-off-color]="'danger'" [switch-off-text]="' '"
              [switch-on-text]="' '">
            </bSwitch>
            <br />
            <bSwitch [switch-on-color]="'danger'" [switch-off-color]="'danger'">
            </bSwitch>
          </div>
          <div class="col-sm-6 col-lg-3">
            <p class="category">Sliders</p>
            <div class="slider" id="sliderRegular"></div>
            <br />

            <div class="slider slider-danger" id="sliderDouble"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">WoodHub•</h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/creativetim"
              target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/creativetim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://dribbble.com/creativetim"
              target="_blank">
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
