<app-header></app-header>
<div class="container" style="margin-top: 8%;">
    <div class="col-sm-12">
        <h2 class="title" style="margin-top: 0;">All Products
            <a style="float: right;padding: 5px 8px;border: 1px solid darkslategrey;font-size: large;cursor: pointer;" >
                <i class="fas fa-forward"></i></a>
            <span style="float: right;font-size: large;margin: 7px;"> 1 / 234 </span>
            <a style="float: right;padding: 5px 8px;border: 1px solid darkslategrey;font-size: large;cursor: pointer;">
                <i class="fas fa-backward"></i></a></h2>
    </div>



<div  class="row">
    <div class="col-sm-3">
        <p class="category" style="font-size: x-large;">Categories</p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Living Room
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Dining Room
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" />
                <span class="form-check-sign"> </span> Bedroom
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Home Decor
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Restaurant
            </label>
        </div>
        <p class="category" style="font-size: x-large;margin-top: 12px;">Subcategories</p>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" />
                <span class="form-check-sign"> </span> Beds
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Sofas
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" />
                <span class="form-check-sign"> </span> Chairs
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Almirahs
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Tables
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" />

                <span class="form-check-sign"> </span> Stools
            </label>
        </div>

    </div>
    
    <div class="col-sm-9">
        <div  class="row">
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>
            <div  class="col-sm-4">
                <a [routerLink]="['/productdetails']">
                    <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                    <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                    <span>$2000</span>
                    <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
            </div>

            
        </div>
    </div>
</div>
</div>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">WoodHub•</h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/creativetim"
              target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/creativetim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://dribbble.com/creativetim"
              target="_blank">
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>