<app-header></app-header>
<div class="section">
    <div class="container">
      <div class="main main-raised main-product">
        <!-- BEGIN .main-item-wrapper -->
        <div class="main-item-wrapper">
          <div class="main-image">
            <carousel [showIndicators]="false">
              <slide>
                <img alt="First slide" class="d-block w-100" src="assets/img/denys.jpg" />
              </slide>
              <slide>
                <img alt="Second slide" class="d-block w-100" src="assets/img/fabien-bazanegue.jpg" />
              </slide>
              <slide>
                <img alt="Third slide" class="d-block w-100" src="assets/img/mark-finn.jpg" />
              </slide>
            </carousel>
            <div class="clear"></div>

          </div>

          <div class="text">
            <div class="product-container" id="product-100173930">
              <h2 class="custom-font-1"><a href="indoor-couch-set-with-coffe-table.html">Couch set with coffe table</a>
              </h2>
              <div class="price custom-font-1">
                <p class="current-price"><span class='money'>$200.00</span>
                  <span _ngcontent-exm-c1="" class="money" style="margin-left: 20px;text-decoration: line-through;">$250.00</span>
                </p>

                <a href="#" class="button-3 custom-font-1 trans-1 product-purchase-btn"><span>Add to cart</span></a>

                <div class="clear"></div>
              </div>

              <div class="description">
                <div class="button-navigation custom-font-1">
                  <h3>Description</h3>
                </div>
                <div class="items">
                  <div id="description_slider">
                    <div class="item text-only">
                      <span>Donec iaculis vestibulum sollicitudin. Maecenas sodales est lectus. Etiam elementum lacus at
                        est egestas et dignissim orci laoreet. Vestibulum tincidunt diam at arcu ullamcorper sagittis.
                        Phasellus arcu mi, tempor eget consectetur ut, molestie eget erat. <br>
                        Donec iaculis vestibulum sollicitudin. Maecenas sodales est lectus. Etiam elementum lacus at est
                        egestas et dignissim orci laoreet. Vestibulum tincidunt diam at arcu ullamcorper sagittis.
                        Phasellus arcu mi, tempor eget consectetur ut, molestie eget erat. <br>
                        Donec iaculis vestibulum sollicitudin. Maecenas sodales est lectus. Etiam elementum lacus at est
                        egestas et dignissim orci laoreet. Vestibulum tincidunt diam at arcu ullamcorper sagittis.
                        Phasellus arcu mi, tempor eget consectetur ut, molestie eget erat. <br>
                        Donec iaculis vestibulum sollicitudin. Maecenas sodales est lectus. Etiam elementum lacus at est
                        egestas et dignissim orci laoreet. Vestibulum tincidunt diam at arcu ullamcorper sagittis.
                        Phasellus arcu mi, tempor eget consectetur ut, molestie eget erat.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clear"></div>

          <!-- END .main-item-wrapper -->
        </div>
      </div>

    </div>
    <div class="container">
        <h2 class="title" style="margin-top: 5%;">        
          Related Products  
        </h2>
        <div class="row">
          <div class="container text-center">
            <div class="row">
              <div class="col-sm-3">
                <a [routerLink]="['/productdetails']">
                  <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/beds.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                  <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                  <span>$2000</span>
                  <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
              </div>
              <div class="col-sm-3">
                <a [routerLink]="['/productdetails']">
                  <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/sofas1.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                  <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                  <span>$2000</span>
                  <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
              </div>
              <div class="col-sm-3">
                <a [routerLink]="['/productdetails']">
                  <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/chairs.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                  <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                  <span>$2000</span>
                  <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
              </div>
              <div class="col-sm-3">
                <a [routerLink]="['/productdetails']">
                  <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                  <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                  <span>$2000</span>
                  <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <a [routerLink]="['/productdetails']">
                  <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/beds.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                  <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                  <span>$2000</span>
                  <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
              </div>
              <div class="col-sm-3">
                <a [routerLink]="['/productdetails']">
                  <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/sofas1.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                  <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                  <span>$2000</span>
                  <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
              </div>
              <div class="col-sm-3">
                <a [routerLink]="['/productdetails']">
                  <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/chairs.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                  <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                  <span>$2000</span>
                  <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
              </div>
              <div class="col-sm-3">
                <a [routerLink]="['/productdetails']">
                  <img style="width: 98%;height: 60%;" alt="Image" class="img-raised" src="assets/img/diningsets.jpg" />
                </a>
                <p style="top: 0px;font-size: large;margin-top: 8px;color: aquamarine;font-weight: bold;">
                  <span style="font-size: medium;font-weight: 100;">Minnelli Sofa</span><br>
                  <span>$2000</span>
                  <span style="margin-left: 18px;text-decoration: line-through;">$2040</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">WoodHub•</h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/creativetim"
              target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/creativetim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://dribbble.com/creativetim"
              target="_blank">
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>