<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" placement="bottom" [routerLink]="['/home']">
          <span style="font-weight: 900;font-family: sans-serif;"> WOODHUB • </span>
          <span style="font-size: small;font-family: initial;">All Furnitures at a Place</span>
        </a>
        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
          [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
          <span class="navbar-toggler-bar bar1"> </span>
          <span class="navbar-toggler-bar bar2"> </span>
          <span class="navbar-toggler-bar bar3"> </span>
        </button>
      </div>
      <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand"><a> BLK• </a></div>
            <div class="col-6 collapse-close text-right">
              <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
                [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
                <i class="tim-icons icon-simple-remove"> </i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          <!-- <li class="dropdown nav-item" dropdown>
            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle
              href="javascript:void(0)">
              <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Collections
            </a>
            <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/register']">
                <i class="tim-icons icon-atom"> </i> Living room
              </a>
              <a class="dropdown-item" [routerLink]="['/landing']">
                <i class="tim-icons icon-atom"> </i> Dining room
              </a>
              <a class="dropdown-item" [routerLink]="['/profile']">
                <i class="tim-icons icon-atom"> </i> Bedroom
              </a>
              <a class="dropdown-item" [routerLink]="['/profile']">
                <i class="tim-icons icon-atom"> </i> Home Decor
              </a>
              <a class="dropdown-item" [routerLink]="['/profile']">
                <i class="tim-icons icon-atom"> </i> Restaurant
              </a>
            </div>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/collections']"> Collections
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/landing']"> About
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/samples']"> Samples
            </a>
          </li>
          <li class="nav-item p-0" style="cursor: pointer;">
            <a class="nav-link" onclick="javascript:void(0)" placement="bottom" 
              tooltip="Go to Cart">
              <i class="fab fa fa-cart-arrow-down" data-container="fas fa-repeat-1"></i>
              <p class="d-lg-none d-xl-none">Cart</p>
            </a>
          </li>
          <li class="nav-item p-0" style="cursor: pointer;">
            <a class="nav-link" placement="bottom" 
              tooltip="Login/Signup" data-target="#myModal" (click)="myModal2.show()">
              <i class="fab fa fa-user"> </i>
              <!-- <i class="fas fa-backward"></i> -->
              <p class="d-lg-none d-xl-none">Login/Signup</p>
            </a>
          </li>
  
          <li class="dropdown nav-item" dropdown style="visibility: hidden;">
            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle
              href="javascript:void(0)">
              <i class="tim-icons icon-single-02"> </i>User
            </a>
            <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
              <a class="dropdown-item"
                href="https://demos.creative-tim.com/blk-design-system-angular/#/documentation/overview">
                <i class="tim-icons icon-paper"> </i> Documentation
              </a>
              <a class="dropdown-item" [routerLink]="['/register']">
                <i class="tim-icons icon-bullet-list-67"> </i> Register Page
              </a>
              <a class="dropdown-item" [routerLink]="['/landing']">
                <i class="tim-icons icon-image-02"> </i> Landing Page
              </a>
              <a class="dropdown-item" [routerLink]="['/profile']">
                <i class="tim-icons icon-single-02"> </i> Profile Page
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal2="bs-modal"
  id="myModal2" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal2.hide()" type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Sign in with</h3>
        </div>
      </div>
      <div class="modal-body">
        <div class="btn-wrapper text-center">
          <a class="btn btn-neutral btn-icon mr-1" href="javascript:void(0)">
            <img src="assets/img/github.svg" />
          </a>
          <a class="btn btn-neutral btn-icon" href="javascript:void(0)">
            <img src="assets/img/google.svg" />
          </a>
        </div>
        <div class="text-center text-muted mb-4 mt-3">
          <small> Or sign in with credentials </small>
        </div>
        <form role="form">
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus1 === true }">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-email-85"> </i>
                </span>
              </div>
              <input class="form-control" placeholder="Email" type="email" (focus)="focus1 = true"
                (blur)="focus1 = false" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus2 === true }">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-key-25"> </i>
                </span>
              </div>
              <input class="form-control" placeholder="Password" type="password" (focus)="focus2 = true"
                (blur)="focus2 = false" />
            </div>
          </div>
          <div class="form-check mt-3">
            <label class="form-check-label">
              <input checked="checked" class="form-check-input" type="checkbox" />

              <span class="form-check-sign"> </span> Remember me!
            </label>
          </div>
          <div class="text-center">
            <button class="btn btn-primary my-4" type="button">
              Sign in
            </button>
          </div>
          <div class="text-center">
            <a [routerLink]="['/register']">New User</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>